.qualification section{
    /* justify-content: center; */
    /* display: flex;
    
    justify-content: center; */

    
}

.guilt{
    height:calc(100vh - 5rem);
    /* height of intro - height of navbar */
    width:100vw;
    max-width:85rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display:flex;

}

.sklbg{

    margin: 0;
    right: 0;
    object-fit: cover;
    height:62vh;
    padding-right: 5rem;
    margin-top: 3rem;
    /* position:relative; */
}


.section_title{
    font-family: 'Archivo';
   text-align: center;
   font-size: var(--font-title);
    font-weight: bold;
    color:rgb(255, 0, 195);
}

/* .section_subtitle{
    text-align: center;
    justify-content: center;
 } */


.qualification_container{
    margin-top: 4rem;
   justify-content: center;
    width:100vw;
    height:100vh;
    /* max-width: 75rem; */
}

.qualification_tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.qualification_button{
    font-size: 4vh;
    font-weight:bold;
    margin:0 1rem;
    cursor: pointer;
}

.qualification_button:hover{
    color:orangered;
    
}

.qualification_icon{
    
    object-fit: cover;
    height:1.2rem;
    margin-right: 6px;
    justify-content:baseline;
   
}

.qualification_sections{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualification_content{
    display: none;
    padding-bottom: 5px;
}

.qualification_content-active{
    display: block;
}

.qualification_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 0.5rem;
    /* text-align: center; */
    
}

.right{
    text-align:right;
}

.box{
    border:3px black;
}

.qualification_title{
    font-size: larger;
    color:rgb(255, 0, 195);
}

.qualification_subtitle{
    display: inline-block;
    font-size: small;
    margin-bottom: 0.3rem;
}

.qualification_calender{
    font-size: small;
}

.qualification_rounder{
    display: inline-block;
    width:13px;
    height: 13px;
    background-color: rgb(255, 255, 0);
    border-radius: 50%;
}

.qualification_line{
    display: block;
    width: 3px;
    height: 100%;
    background-color: rgb(255, 255, 0);
    transform: translate(5px,-4px);
}