.contact_container{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    padding: 6rem;
    padding-bottom: 3rem;
}

.contact_title{
    font-family: 'Archivo';
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4vh;
}

.contact_info{
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact_form{
    width:360px;

}

.contact_card{
    background-color: rgba(0, 0, 0, 0.2) ;
    /* border: 2px none rgba(100, 100, 100, 0); */
    border: 1px solid white;
    backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  box-shadow:
    inset 0px -3px 10px 0px rgba(255, 255, 255, 0.15),
    inset 0px -5px 18px 0px rgba(255, 255, 255, 0.15),
    inset 0px 6px 12px 0px rgba(255, 255, 255, 0.15),
    inset 0px 3px 3px 0px rgba(255, 255, 255, 0.15);

    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}

.contact_card-title,
.contact_card-data{
    font-size: large;
}

.contact_card-title{
    font-weight: 800;
}

.contact_card-data{
    display: block;
    margin-bottom: 0.5rem;
}

.contact_button{
    color:blue;
    font-size: small;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
}

.contact_form-div{
    border: 1px solid white;
    border-radius: 0.75rem;
    position: relative;
    /* margin-bottom: ; */
    height: 4rem;
    margin: 1rem;

}

.contact_form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* border:2px solid rgba(0, 0, 0, 0.2);
    background: none; */
    color: white;

    background-color: rgba(0, 0, 0, 0.2) ;
    border: 1px none rgba(0, 0, 0, 0);
    backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  box-shadow:
    inset 0px -3px 10px 0px rgba(255, 255, 255, 0.15),
    inset 0px -5px 18px 0px rgba(255, 255, 255, 0.15),
    inset 0px 6px 12px 0px rgba(255, 255, 255, 0.15),
    inset 0px 3px 3px 0px rgba(255, 255, 255, 0.15);

    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact_form-tag{
    position: absolute;
    top: -0.75rem;
    left:1.25rem;
    font-size: small;
    padding: 0.25rem;
    background-color: transparent;
    z-index: 10;

}

.contact_form-area{
    height: 9rem;
}

.contact-submit{
    align-items: center;
    justify-content: center;
}